[submodule "vendor/renderer"]
	path = vendor/renderer
	url = https://github.com/AbstractPlay/renderer.git
	branch = develop
[submodule "vendor/gameslib"]
	path = vendor/gameslib
	url = https://github.com/AbstractPlay/gameslib.git
	branch = develop
[submodule "vendor/node-backend"]
	path = vendor/node-backend
	url = https://github.com/AbstractPlay/node-backend.git
	branch = develop
[submodule "vendor/recranks"]
	path = vendor/recranks
	url = https://github.com/AbstractPlay/recranks.git
	branch = develop
[submodule "vendor/backend-crons"]
	path = vendor/backend-crons
	url = https://github.com/AbstractPlay/backend-crons.git
	branch = develop
