<header class="site-header">
  <a href="/" class="site-logo">
    <img
      class="site-logo-img site-logo-img--light"
      src="/assets/images/AbstractPlayLogo-light.svg"
      alt="Abstract Play"
      width="253"
      height="72"
    >
    <img
      class="site-logo-img site-logo-img--dark"
      src="/assets/images/AbstractPlayLogo-dark.svg"
      alt="Abstract Play"
      width="253"
      height="72"
    >
    <span class="site-logo-docs">Docs</span>
  </a>
</header>
